<h1>Make Changes to <%= @recipe.name %> Below:</h1>
<br>
<br>
<form action="/recipes/<%= @recipe.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <% if Helpers.is_logged_in?(session) %>
    
        <h3><label for=name>Name of Recipe:</label></h3>
        <input type="text" name="name">
            <br>
            <br>
        <h3><label for=ingredient>Choose Ingredients:</label></h3>
        <ul>
            <li><% Ingredient.all.each do |ingredient| %>
            <input type="checkbox" name="recipe[ingredient_ids][]" id="ingredient_<%= ingredient.id %>" value="<%= ingredient.id %>"><%= ingredient.name %></li>
            <% end %>
        </ul>
            <br>
            <br>
        <h3><label for=content>Instructions:</label></h3>
        <input type="text" name="content"><br>
            <br>
            <br>
        <input type="submit" value="Create Recipe!">


    <% else %>
    <h1> You Must Be Logged in to Make Recipes </h1>
  <% end %>

  

</form>
